{{template "base" .}}

{{define "content"}}

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Contact Us</h1>
                <p>For more information, please contact us at:</p>
                <address>
                    <strong>GoBooking.com</strong><br>
                    1234 Main Street<br>
                    Springfield, IL 62701<br>
                    <abbr title="Phone">P:</abbr> (217) 555-5555
                </address>
            </div>
        </div>
    </div>

{{end}}
