{{template "base" .}}

{{define "content"}}

    <div class="container">
        <div class="row">
            <div class="col">
                <img src="/static/images/majors-suite.png" class="img-fluid img-thumbnail mx-auto d-block" alt="Major's Suite">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4">Welcome to Major's Suites</h1>
                <p>
                    Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to remember.
                    Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to remember.
                    Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to remember.
                    Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to remember.
                    Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to remember.
                    Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to remember.
                    Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to remember.
                </p>
            </div>
        </div>

        <div class="row">

            <div class="col text-center">

                <a id="check-availability-button" href="#!" class="btn btn-success">Check Availability</a>

            </div>
        </div>
    </div>

{{end}}

{{define "scripts"}}
    <script>
        document.getElementById('check-availability-button').addEventListener('click', function (e) {
            let html =`
                <form id="check-availability-form" action="" method="post" class="needs-validation" novalidate>
                    <div class="form-row">
                        <div class="col">
                            <div id="reservation-dates-model" class="form-row">
                                <div class="col">
                                    <input disabled required type="text" class="form-control" id="start" name="start" placeholder="Check In">
                                </div>

                                <div class="col">
                                    <input disabled required type="text" class="form-control" id="end" name="end" placeholder="Check In">
                                </div>
                            </div>
                        </div>
                    </div>              
                </form>
            `
            attention.custom({text: html, title: "Check Availability"});
        });
    </script>
{{end}}
