{{template "base" .}}

{{define "content"}}

    <div class="container">
        <div class="row">
            <div class="col">
                <img src="/static/images/majors-suite.png" class="img-fluid img-thumbnail mx-auto d-block" alt="Major's Suite">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1 class="text-center mt-4">Welcome to Major's Suites</h1>
                <p>
                    Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to remember.
                    Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to remember.
                    Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to remember.
                    Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to remember.
                    Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to remember.
                    Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to remember.
                    Your home away form home, set on the majestic waters of the Atlantic Ocean, this will be a vacation
                    to remember.
                </p>
            </div>
        </div>

        <div class="row">

            <div class="col text-center">

                <a id="check-availability-button" href="#" class="btn btn-success">Check Availability</a>

            </div>
        </div>
    </div>

{{end}}

{{define "scripts"}}
    <script>
        // getAvailabilityForRoomById("2");
        document.getElementById('check-availability-button').addEventListener('click', function () {
            let html = `
                <form id="check-availability-form" action="" method="post" class="needs-validation" novalidate>
                    <div class="form-row">
                        <div class="col">
                            <div id="reservation-dates-model" class="form-row">
                                <div class="col">
                                    <input disabled required type="text" class="form-control" id="start" name="start" placeholder="Check In">
                                </div>

                                <div class="col">
                                    <input disabled required type="text" class="form-control" id="end" name="end" placeholder="Check In">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            `
            attention.custom({
                text: html,
                title: "Select your dates",

                willOpen: () => {
                    const elem = document.getElementById('reservation-dates-model');
                    new DateRangePicker(elem, {
                        format: 'yyyy-mm-dd',
                        showOnFocus: true,
                        minDate: new Date(),
                    });
                },
                didOpen: () => {
                    document.getElementById("start").removeAttribute("disabled");
                    document.getElementById("end").removeAttribute("disabled");
                },
                callback: function (result) {
                    let form = document.getElementById("check-availability-form");
                    let formData = new FormData(form);
                    formData.append("csrf_token", "{{.CSRFToken}}");
                    formData.append("room_id", "2");

                    fetch('/search-availability-json', {
                        method: "post",
                        body: formData,
                    })
                        .then(response => response.json())
                        .then(data => {
                            if (data.ok) {
                                attention.custom({
                                    icon: "success",
                                    text: '<p>Room is Available!</p>'
                                        + '<p><a href="/book-room?id='
                                        + data.room_id
                                        + '&s='
                                        + data.start_date
                                        + '&e='
                                        + data.end_date
                                        + '" class="btn btn-primary">'
                                        + 'Book Now</a></p>',
                                    showCancelButton: false,
                                    showConfirmButton: false,
                                })
                            } else {
                                attention.error({
                                    text: "No Availability!",
                                })
                            }
                        })
                }
            });
        });
    </script>
{{end}}
