{{template "base" .}}

{{define "content"}}

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Make Reservation</h1>
                <p><strong>Reservation Details</strong></p>

                {{$result := index .Data "reservation"}}

                <p>
                    <strong>Room: </strong>{{$result.Room.RoomName}}<br>
                    <strong>Check In: </strong>{{index .StringMap "check_in"}}<br>
                    <strong>Check Out: </strong>{{index .StringMap "check_out"}}<br>
                </p>

                <form action="/make-reservation" method="post" class="" novalidate>
                    <label>
                        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
                    </label>
                    <label>
                        <input type="hidden" name="check_in" value="{{index .StringMap "check_in"}}">
                    </label>
                    <label>
                        <input type="hidden" name="check_out" value="{{index .StringMap "check_out"}}">
                    </label>
                    <label>
                        <input type="hidden" name="room_id" value="{{$result.RoomId}}">
                    </label>

                    <div class="form-group mt-3">
                        <label for="first_name">First Name:</label>
                        {{with .Form.Errors.Get "first_name"}}
                            <label class="text-danger">{{.}}</label>
                        {{end}}
                        <input class="form-control {{with .Form.Errors.Get "first_name"}} is-invalid {{end}}"
                               id="first_name" name="first_name" type="text" autocomplete="off"
                               value="{{$result.FirstName}}" required>
                    </div>

                    <div class="form-group">
                        <label for="last_name">Last Name:</label>
                        {{with .Form.Errors.Get "last_name"}}
                            <label class="text-danger">{{.}}</label>
                        {{end}}
                        <input class="form-control {{with .Form.Errors.Get "last_name"}} is-invalid {{end}}"
                               id="last_name" name="last_name" type="text" autocomplete="off"
                               value="{{$result.LastName}}" required>
                    </div>

                    <div class="form-group">
                        <label for="email">Email:</label>
                        {{with .Form.Errors.Get "email"}}
                            <label class="text-danger">{{.}}</label>
                        {{end}}
                        <input class="form-control {{with .Form.Errors.Get "email"}} is-invalid {{end}}"
                               id="email" name="email" type="email" autocomplete="off"
                               value="{{$result.Email}}" required>
                    </div>

                    <div class="form-group">
                        <label for="phone">Phone:</label>
                        {{with .Form.Errors.Get "phone"}}
                            <label class="text-danger">{{.}}</label>
                        {{end}}
                        <input class="form-control {{with .Form.Errors.Get "phone"}} is-invalid {{end}}"
                               id="phone" name="phone" type="text" autocomplete="off"
                               value="{{$result.Phone}}" required>
                    </div>

                    <hr>
                    <input type="submit" class="btn btn-primary" value="Make Reservation">
                </form>

            </div>
        </div>
    </div>
{{end}}
