{{template "base" .}}

{{define "content"}}
    {{$result := index .Data "reservation"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mt-5">Reservation Summery</h1>
                <hr>
                <table class="table table-striped">
                    <thead></thead>
                    <tbody>
                    <tr>
                        <td>Name:</td>
                        <td>{{$result.FirstName}} {{$result.LastName}}</td>
                    </tr>
                    <tr>
                        <td>Room:</td>
                        <td>{{$result.Room.RoomName}}</td>
                    </tr>
                    <tr>
                        <td>Check In:</td>
                        <td>{{index .StringMap "check_in"}}</td>
                    </tr>
                    <tr>
                        <td>Check Out:</td>
                        <td>{{index .StringMap "check_out"}}</td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>{{$result.Email}}</td>
                    </tr>
                    <tr>
                        <td>Phone:</td>
                        <td>{{$result.Phone}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{{end}}
